body {
  background: #f5f7fa;
}

/* HEADER */
.top-header {
  background: #03254c;
  color: white;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: 700;
}

.search-summary {
  background: rgba(255,255,255,0.15);
  padding: 10px 16px;
  border-radius: 8px;
}

.login-btn {
  background: white;
  color: #03254c;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
}

/* DATE STRIP */
.date-strip {
  display: flex;
  gap: 10px;
  padding: 16px;
  justify-content: space-evenly;
}
.pointer{
    cursor: pointer;
}

.date-item {
  background: white;
  width: 25vw;
  padding: 10px 14px;
  border-radius: 8px;
  text-align: center;
  min-width: 90px;
}

.date-item.active {
  background: #03254c;
  color: white;
}

/* LAYOUT */
.layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 20px;
  padding: 20px;
}

/* FILTERS */
.filters {
  background: white;
  border-radius: 12px;
  padding: 16px;
}

.filters h4 {
  margin: 16px 0 8px;
}

.filters label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
}

/* FLIGHT CARD */
.flight-card {
  background: white;
  border-radius: 12px;
  padding: 16px 20px;
  margin-bottom: 14px;
  display: flex;
  /* justify-content: center; */
  box-shadow: 0 2px 10px rgba(0,0,0,0.06);
  width: 60%;
}
.flight-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding-inline: 3%;
}
.airline {
  font-weight: 600;
  margin-bottom: 6px;
}

.time-row {
  display: flex;
  gap: 30px;
  align-items: center;
}

.middle {
  color: #e11d48;
  font-size: 13px;
}

.price-box {
  border-left: 1px solid #eee;
  padding-left: 20px;
  min-width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:40%;
}

.deal {
  font-size: 12px;
  color: #666;
}

.price {
  font-size: 22px;
  font-weight: 700;
  margin: 6px 0;
}

.select-btn {
  background: #03254c;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
}

.loading {
  text-align: center;
  padding: 80px;
  font-size: 18px;
}
.pil{
    padding-inline: 10vw;
}